apiVersion: admissionregistration.k8s.io/v1beta1
kind: ValidatingWebhookConfiguration
metadata:
 name: hide-namespace
 labels:
   app: hide-namespace 
webhooks:
 - name: hide-namespace.praveend.com
    clientConfig:
     service:
       name: hide-namespace-webhook-svc
       namespace: hide-namespace
       path: "/hide-namespace"
     caBundle: ${CA_BUNDLE}
    rules:
     - operations: ["CREATE","CONNECT"]
       apiGroups: [""]
       apiVersions: ["v1"]
       resources: ["namespaces"]
    failurePolicy: Ignore
